.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;      
  background-image: url(./cielo.png); 
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column; 
    height: 100%;
    
  }
}